APP_ENV=local
APP_DEBUG=false
APP_KEY=change-this-32-character-secret

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=humanoid_robot_forensics
DB_USERNAME=humanoid_robot_forensics
DB_PASSWORD=change-this-password

SESSION_NAME=humanoid_robot_forensics_session

